.content{
    margin: 0;
    padding: 0;
    height: 100vh;
    overflow-y: auto;
}
.content::-webkit-scrollbar{
    display: none;
}

.Links__box{
    display: flex;
    border-bottom: 1px solid gray;
    height:50px;
}
.Links{
    text-decoration: none;
    color:gray;
    margin-left: 30px;
    margin-top: 10px;
}
.active{
    border-bottom: 3px solid rgba(30, 30, 182, 0.696);
    color: black;


}
.app{
    height:600px;
    overflow-y: auto;
}
.app::-webkit-scrollbar{
    display: none;
}
