.container {
  display: grid;
  grid-template-columns:1fr 4fr ;
  border: 1px solid whitesmoke;
  overflow-y: auto;
} 
.side__container{
  border-right:1px solid rgba(183, 183, 183, 0.561);
  height: 100vh;
  /* margin-top: 10px; */
  padding: 10px;
}
.Middle__container{
  flex: 1;
  border-right: 2px solid whitesmoke;
}
.container::-webkit-scrollbar{
  display: none;
}
.app::-webkit-scrollbar{
  display: none;
}


